html, body {
  margin: 0;
  background-color: bisque;
  overflow-x: hidden;
}
 
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sectionContainer {
  margin-top: 2%;
}

.title {
  border: solid 3px black;
  border-bottom: none;
  width: 35%;
  margin: 0 auto;
  background-color: rgb(255, 203, 139);
}

#editorTitle {
  width: 25%;
}

#editor {
  width: 35%;
  margin: 0 auto;
  resize: vertical;
  border: solid 3px black;
  font-size: 16px;
  min-height: 300px;
  padding: 10px;
  background-color: rgb(253, 210, 158);
  border-radius: 3px;
  box-shadow: 8px 10px #575757;
}

#preview {
  width: 45%;
  margin: 0 auto;
  resize: vertical;
  border: solid 3px black;
  font-size: 16px;
  min-height: 600px;
  padding: 10px;
  margin-bottom: 3%;
  background-color: rgb(253, 210, 158);
  border-radius: 3px;
  box-shadow: 10px 12px #575757;
  text-align: left;
}

#preview img{
  max-width: 45%;
}